.PersonDetails {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PersonDetails * {
    margin: 0;
}

.PersonDetails img {
    width: 15rem;
}

.PersonDetails ul{
    display: flex;
    flex-direction: column;
}

.PersonDetails li {
    list-style-type: none;
}

.PersonDetails div{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #009688;
}

.PersonDetails h3 {
    color: #009688;
    font-weight: bold;
}
