.RandomPlanet {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    background-size: cover !important;
    height: 100%;
    
}

.RandomPlanet_InfoBars {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 10px;
}

.RandomPlanet_InfoBars .InfoBar {
    width: calc(80%/4);
    height: 7rem;
}

.RandomPlanet_title {
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    padding: 10px;
}